<div class="header">
    <div class="flex-container">


        <a class="flex-element-logo" href="{% url 'home' %}">Jebb</a>

        <ul>
            <li class="flex-element first"><a href="{% url 'languages' %}">Languages</a></li>
            <li class="flex-element second"><a href="{% url 'chess-project' %}">Chess</a></li>
            <li class="flex-element third"><a href="{% url 'about-me' %}">About</a></li>
        </ul>

        <div class="login">
            <a href="#login"><div id="login" inputmode="button">Login</div></a>
            <a href="#registartion"><div id="signup">Sign-up</div></a>

        </div>
    </div>
</div>